@font-face{font-family: 'Hades'; src: url(../dafont/HADES.otf);}
@font-face{font-family: 'Romanica'; src: url(../dafont/Romanica.otf);}
@font-face{font-family: 'Adonais'; src: url(../dafont/Adonais.ttf);}
@font-face{font-family: 'Greco'; src: url(../dafont/GRECOromanLubedWrestling.ttf);}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
	/* overflow-x: hidden; */
	width: 100%;
}

/**** HEADER**/
.bg-top{
    background-image: url('../img/wall.jpg');
    background-size: contain;
    background-color: rgb(21, 11, 9);
    background-position-y: 9vw;
    background-repeat: no-repeat;
    position: relative;
    height: 63vw;
}
.bg-top >  .logo{
    position: absolute;
    top: 0vw;
    left: 4%;
    height: 25%;    
}

.logo > img{
    height: 100%;
}
.menu-burger{
	position: absolute;
	top: 2vw;
	right: 4%;
}
.menu-burger div {
  width: 3vw;
  height: 0.3vw;
  background-color: rgb(255, 0, 6);
  margin: 0.7vw 0;
}

/**** SEPARATOR ****/
.section-title{
    background-color: rgb(21, 11, 9);
    width: 100%;
    height: 6vw;
    font-size: 5vw;
    color: rgb(253, 253, 253);
    text-align: center;
    font-family: 'Hades';
    padding-top: 0.5vw;
	border-top: 1px solid rgb(253, 253, 253);
	border-bottom: 1px solid rgb(253, 253, 253);
}

/**** MAIN SECTION ****/
.persona{
	width: 100%;
	height: 30vw;
	position: relative;
	background-color: darkgray;
	color: rgb(253, 253, 253);
}
.persona:nth-child(even) .pic{
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
}
.persona:nth-child(odd) .pic{
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
}
.persona:nth-child(even) .infos{
	position: absolute;
	right: 0;
	text-align: right;
}
.persona:nth-child(odd) .infos{
	position: absolute;
	left: 0;
	text-align: left;
}
.persona .pic{
	height: 35.5vw;
	width: 50%;
}
.persona .pic img{
	height: 100%;
}
.persona .infos{
	width: 50%;
	padding: 2vw;
}
.persona .infos .title{
	margin-bottom: 2vw;
	text-align: center;
	font-family: 'Hades';
	font-size: 3vw;
}
.persona .infos .description{
	font-size: 1.6vw;
	padding: 0 4.3vw;
}
.persona.bg-red{
	background-color: rgb(102, 26, 26);
	color: rgb(255, 208, 0);
}
.persona.bg-yellow{
	background-color: rgb(255, 208, 0);
	color: rgb(102, 26, 26);
}
.persona.bg-gray{
	background-color: rgb(54, 58, 67);
	color: rgb(161, 103, 173);
}
.persona.bg-blue{
	background-color: rgb(47, 85, 182);
	color: rgb(253, 253, 253);
}
.persona.bg-lightred{
	background-color: rgb(245, 75, 75);
	color: rgb(182, 209, 225);
}
.persona.bg-green{
	background-color: rgb(140, 159, 57);
	color: rgb(95, 83, 142);
}

/**** FOOTER ****/
.bg-bottom{
	background-image: url('../img/bottom.png');
	background-size: cover;
    background-color: rgb(21, 11, 9);
    background-repeat: no-repeat;
	height: 58vw;
	position: relative;
}
.overview-divinity{
	display: flex;
	flex-wrap: wrap;
	padding: 0 2.5vw;
	height: calc(100% - 6.5vw);
	width: calc(100% - 5vw);
	position: absolute;
	top: 5.5vw;
}
.overview-divinity > .divinity{
	-webkit-box-flex: 0;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	max-width: 33.33%;
	position: relative;
	height: 50%;
}
.divinity .thumbnail{
	height: 87%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.divinity .name{
	position: absolute;
	left: 50%;
	bottom: 13%;
	transform: translateX(-50%);
	width: 17.5vw;
	height: 14%;
	border-radius: 1vw;
	background-color: darkgray;
	border: 0;
	font-family: 'Hades';
	color: white;
	font-size: 3vw;
	z-index: 4;
}
.divinity .details{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 50%;
	bottom: 13%;
	transform: translateX(-50%);
	height: 55%;	
	width: 14.7vw;
	padding: 3vw 3.7vw 6.4vw;
	border-radius: 3.4vw;
	font-size: 1.4vw;
	color: white;
	text-align: center;
	display: none;
	z-index: 5;
}
.divinity:hover .details{
	display: initial;
}
#athena .name{
	background-color: rgb(105, 118, 173);
	color: rgb(252, 251, 168);
}
#zeus .name{
	background-color: rgb(252, 251, 168);
	color: rgb(122, 101, 82);
}
#artemis .name{
	background-color: rgb(80, 126, 61);
	color: rgb(255, 255, 253);
}
#demeter .name{
	background-color: rgb(170, 210, 210);
	color: rgb(129, 103, 76);
}
#poseidon .name{
	background-color: rgb(111, 156, 115);
	color: rgb(3, 17, 18);
}
#ares .name{
	background-color: rgb(253, 37, 38);
	color: rgb(229, 219, 207);
}